<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body bgcolor = white>

<div height="100px">
</div>

		<div class="sidenav">
        		<a href="/">Home</a>
        		<a href="/resume">Resume</a>
						<a href="/projects">Projects</a>
						<a href="/design-sprints">Design Sprints</a>
						<a href="https://jschiroo.wordpress.com/" target="_blank">Ceramics Blog</a>
						<a href="/recipes">Recipes</a>
		</div>
		<div class="container">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:jaschiroo@gmail.com">email</a></li>
			</ul>
		</footer>
	</body>
</html>
