<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
	  <link rel="/favicon.ico" href="favicon.ico"/>
	</head>
	<body bgcolor = white>

		<div class="grid-container">
		  <div class="item1 headerbox">
		  	<div class="header">
		  	<h1>No Half Measures</h1>
			</div>
		</div>

		  <div class="item2 navbar">
				<a href="/">Home</a>
		  	<br><a href="/recipes">Recipes</a>
		  	<br><a href="/adventures">(Mis)Adventures</a>
				<br><a href="/about-me">About Me</a>
		  </div>

		  <div class="item3 main">
				<div class="container">
					{{ content }}
				</div>
		  </div>
		  <div class="item4 footer"><a href="mailto:jaschiroo@gmail.com">Contact</a></div>
		</div>
	</body>
</html>
